###################
## CONFIGURATION ##
###################
# router ip address
router_host = ''

# router username
router_user = 'user'

# router password
router_pwd = 'password'

# file destination
output_dir = './site'

# include wireless devices in connection events? (True/False)
include_wireless = False

# local ping test. ISP website?
ping_local = ''

# remote ping test
ping_remote = '8.8.8.8'

