###################
## CONFIGURATION ##
###################
# router ip address
router_host = ''

# router username
router_user = 'user'

# router password
router_pwd = 'password'

# file destination
output_dir = '.'

# include wireless devices in connection events? (True/False)
include_wireless = False